.card {
  width: 270px;
  height: 180px;
  border: black;
  border-style: solid;
  border-width: thin;

  margin: 10px;
}

.item {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.bold {
  font-weight: bold;
}

.upper {
  text-transform: uppercase;
}
